/* ++++++++++++++
 * common start +
 * ++++++++++++++ 
 */
.wq_body_wrapper {padding-top: 30px;} 
.wq_index_part{position: relative;background:#fff;margin-bottom: 30px;min-height: 90px;}
.wq_index_part_title{position: absolute;top: 21px;left: 0;width: 160px;height: 40px;line-height: 40px;text-indent: 25px;color: #fff;font-size: 24px;background-color: #009acd;}

.img_slide_animte {display: block;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
.img_scale_animte {display: block;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out;-ms-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;}
.img_slide_animte_wrapper:hover .img_slide_animte {-webkit-transform: translateX(-10px);-moz-transform: translateX(-10px);-o-transform: translateX(-10px);transform: translateX(-10px);}
.img_scale_animte_wrapper:hover .img_scale_animte {-webkit-transform: scale(1.2, 1.2);-moz-transform: scale(1.2, 1.2);-o-transform: scale(1.2, 1.2);transform: scale(1.2, 1.2);}
.lazy, .first_page {background: url(//dn-woqu.qbox.me/a414/img/common/lazy-bg.png) center no-repeat;}

/* ++++++++++++++
 * index slider +
 * ++++++++++++++
 */
.banner_wrapper {overflow: hidden;position: relative;width: 1000px;height: 400px;margin: 0 auto;z-index: 8;}
.slider_list {position: absolute;height: 100%;top: 0;left: 0;}
.slider_item {float: left;height: 100%;}
.slider_item a {display: block;height: 100%;}
.btn_list {position: absolute;width: auto;right: 20px;bottom: 8px;}
.btn_item {float: left;margin-right: 10px;width: 20px;height: 20px;background-image: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png);background-position: 0 -30px;text-align: center;color: #fff;font-size: 12px;}
.btn_item:hover {cursor: pointer;background-position: 0 0;}
.btn_item.active {background-position: 0 0;}

/* ++++++++++++++++++
 * hot & sale start +
 * ++++++++++++++++++
 */
.hot_sale_wrapper {margin-bottom: 30px;}
.hot_sale_left {float: left;width: 750px;}
.hot_sale_right {float: right;width: 240px;overflow: hidden;}
.hot_sale_right img {float: left;margin-bottom: 10px;}
#saleSlide {position: relative;width: 100%;height: 240px;overflow: hidden;background-color: #fff;}
.sale_slide_list {position: absolute;top: 0;left: 0;}
.sale_slide_list:hover img {opacity: 0.8;filter: alpha(opacity=80);}
.sale_slide_list li {float: left;width: 750px;}
.prev_sale, .next_sale, .prev_hot, .next_hot {position: absolute;width: 30px;height: 60px;top: 50%;margin-top: -30px;background-image: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png);background-repeat: no-repeat;}
.prev_sale, .prev_hot {background-position: -30px 0;left: 0;}
.next_sale, .next_hot {background-position: -61px 0;right: 0;}
.prev_sale:hover, .prev_hot:hover {background-position: -93px 0;}
.next_sale:hover, .next_hot:hover {background-position: -124px 0;}
.sale_img_wrapper {float: left;position: relative;overflow: hidden;height: 240px;} 
.sale_img {float: left;}
.sale_info_wrapper {position: relative;float: left;width: 393px;margin-left: 20px;height: 240px;}
.si_title {display: block;font-size: 24px;color: #333;padding-top: 13px;}
.si_title:hover {color: #f08300;}
.si_desc {font-size: 14px;color: #333;padding-top: 10px;}
.price_wrapper {position: absolute;width: 100%;height: 70px;bottom: 45px;left: 0;overflow: hidden;}
.new_price, .del_price {position: relative;float: left;margin-right: 12px;bottom: -30px;}
.del_price {bottom: -42px;}
.sale_buy_btn {position: absolute;width: 99px;height: 32px;line-height: 32px;background: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png) no-repeat -301px -109px;right: 20px;bottom: 37px;text-align: center;font-size: 16px;}
.sale_buy_btn:hover{background-position: -301px -151px;}
.count_down {position: absolute;bottom: 10px;left: 88px;padding-left: 28px;font-size: 14px;color: #848484;}
.count_down span {font-size: 18px;color: #333;padding: 0 5px;}
.count_down i {position: absolute;top: 3px;left: 0;width: 18px;height: 18px;background: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png) 0 -130px no-repeat;}
.hot_wrapper {position: relative;margin-top: 10px;background-color: #fff;padding: 20px;height: 192px;}
.hot_wrapper h3 {font-size: 18px;color: #333;border-bottom: 2px solid #009acd;padding-bottom: 4px;display: inline-block;}
.ie7 .hot_wrapper h3 {display: inline;zoom: 1;}
.hot_box {position: absolute;top: 0;left: 0;}
.hot_list {float: left;overflow: hidden;width: 710px;background-color: #fff;}
.hot_list li {position: relative;float: left;width: 330px;margin: 19px 0 0 20px;background-color: #fff;}
.hot_list img {position: absolute;top: 0;left: 0;}
.hl_title {display: block;font-size: 14px;color: #333;padding-left: 90px;height: 40px;}
.hot_list li:hover .hl_title {color: #f08300;}
.hl_price {float: right;margin-right: 10px;}
#hotList {position: relative;width: 100%;height: 160px;overflow: hidden;background-color: #fff;}
.link_box {overflow: hidden;}
.link_box a {float: left;width: 174px;height: 122px;background-color: #fff;margin: 10px 10px 0 0;padding: 3px;}
.link_box .no_mr {margin-right: 0;}


/* +++++++++++++++++
 * top right start +
 * +++++++++++++++++
 */
#indexGuideSlider {position: relative;width: 240px;height: 180px;overflow: hidden;z-index: 10;border-right-color: #d8d8d8;border-bottom-color: #d8d8d8;box-shadow: 1px 1px 2px #e8e8e8;margin-bottom: 10px;}
.guide_slide {position: absolute;top: 0;left: 0;}
.guide_slide li {float: left;}
#guideSC {position: absolute;bottom: 8px;right: 0;}
#guideSC li {float: left;width: 8px;height: 8px;background-color: #fff;margin-right: 8px;cursor: pointer;border-radius: 50%;}
#guideSC li.active {background-color: #009acd;}

.notice_wrapper {height: 205px;background-color: #fff;padding: 15px;margin-top: 10px;}
.notice_wrapper h3 {font-size: 18px;color: #333;border-bottom: 2px solid #009acd;width: 40px;padding-bottom: 4px;text-align: center;}
.notice_wrapper ul {padding-top: 10px;}
.notice_wrapper ul li {line-height: 28px;}
.notice_wrapper ul li a {display: block;color: #333;font-size: 14px;text-indent: -7px;padding-left: 6px;}
.notice_wrapper ul li a:hover {color: #f08300;}

#rentcarSlider {position: relative;width: 240px;height: 234px;overflow: hidden;margin-bottom: 10px;float: left;}
.rc_list {position: absolute;top: 0;left: 0;}
.rc_list li {float: left;}
.rentcar_controller {position: absolute;bottom: 8px;right: 0;}
.rentcar_controller li {float: left;width: 8px;height: 8px;background-color: #fff;margin-right: 8px;cursor: pointer;border-radius: 50%;}
li.rc_active {background-color: #009acd;}


.strategy_wrapper {float: left;background-color: #fff;height: 294px;padding: 15px;}
.strategy_wrapper h3 {display: inline-block;padding-bottom: 4px;font-size: 16px;color: #333;border-bottom: 2px solid #009acd;}
.ie7 .strategy_wrapper h3 {zoom: 1;display: inline;}
.strategy_link {display: block;padding-top: 20px;}
.strategy_link:hover .strategy_title {color: #f08300;}
.strategy_link:hover .strategy_img {opacity: 0.7;filter: alpha(opacity=70);}
.strategy_img {float: left;box-shadow: 1px 1px 1px #e8e8e8;}
.strategy_info {float: left;width: 90px;margin-left: 20px;line-height: 20px;}
.city_list {padding-top: 10px;}
.city_list li {float: left;width: 60px;height: 20px;line-height: 20px;text-align: center;background: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png) no-repeat -340px -30px;font-size: 12px;margin: 10px 6px 0 0;}
.city_list li a {display: block;color: #848484;}
li.no_mr {margin-right: 0;}
.city_list li:hover {background-position: -340px 0;}
.city_list li:hover a {color: #fff;}

/* +++++++++++++++++
 * localjoin start +
 * +++++++++++++++++
 */
.local_trip_map{float: left;width: 263px;padding: 34px 0 0 29px;overflow: hidden;}
.local_trip_title{padding-left: 32px;color: #009acd;font-size: 30px;font-weight: bold;padding: 95px 0 17px 0;}
.local_trip_container{width: 260px;position: relative;}
.local_trip_pos_list{padding: 0 20px 30px 12px;}
.local_trip_pos_li{display: block;float: left;margin-right: 4px;padding-left: 3px;margin-top: 6px;background: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png) no-repeat -359px -314px;position: relative;padding-right: 3px;}
.lt_radius_right{display: block;width: 3px;height: 22px;background: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png) no-repeat -398px -314px;float: left;position: absolute;right: 0;top: 0;}
.local_trip_pos_li a{display: block;padding: 3px;font-size: 14px;background-color: #bdbdbd;height: 16px;line-height: 14px;}
.local_trip_pos_li a:visited{color: #fff;}
.local_trip_pos_li:hover{background: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png) no-repeat -359px -346px;}
.local_trip_pos_li:hover a{background-color: #009acd;}
.local_trip_pos_li:hover .lt_radius_right{background: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png) no-repeat -398px -346px;}
.local_trip_main{float: right;width: 656px;position: relative;margin-right: 20px;}
.local_trip_area{padding-top: 33px;height: 50px;}
.local_trip_area_li{display: block;float: left;position: relative;padding-left: 3px;margin-right: 10px;}
.local_trip_area_li a{display: block;float: left;font-size: 16px;padding: 3px 4px 4px;line-height: 18px;color: #333;}
.la_radius_right{display: block;width: 3px;height: 25px;float: left;}
.la_sharp{display: none;width: 10px;height: 5px;position: absolute;background: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png) no-repeat -373px -94px;top: 25px;left: 50%;margin-left: -5px;}
.local_trip_area_li:hover, .active{background: url(/images/index.png) no-repeat -354px -69px;}
.local_trip_area_li:hover a, .active a{background-color: #009acd;color: #fff;}
.local_trip_area_li:hover .la_radius_right, .active .la_radius_right{background: url(/images/index.png) no-repeat -398px -69px;}
.local_trip_area_li:hover .la_sharp, .active .la_sharp{display: block;}
.local_trip_more{display: block;background-position: 0 -188px;background-repeat: no-repeat;position: absolute;right: 0;top: 35px;height: 21px;color: #848484;font-size: 14px;line-height: 21px;text-align: center;}
.local_trip_more:visited{color: #848484;}
.local_trip_more:hover{color: #f08300;}
.local_trip_pro{width: 680px;height: 322px;overflow: hidden;}
.local_trip_pro_li{width: 683px;}
.local_trip_left_l{width: 438px;height: 322px;float: left;display: block;position: relative;line-height: 0;overflow: hidden;}
.local_trip_left_l:hover .local_trip_txt_l{color: #f08300;}
.local_trip_img_l{display: block;height: 322px;}
.local_trip_mask_l{display: block;position: absolute;bottom: 0;left: 0;width: 100%;height: 60px;opacity: .6;filter:alpha(opacity=60);z-index: 1;background-color: #000;}
.local_trip_txt_l{display: block;font-size: 14px;line-height: 24px;position: absolute;z-index: 2;left: 10px;bottom: 8px;width: 260px;}
.local_trip_price_l{display: block;position: absolute;z-index: 2;right: 15px;top: 270px;padding-top: 14px;height: 32px;line-height: 32px;}
.local_trip_right{float: right;display: block;width: 208px;height: 156px;position: relative;margin: 0px 27px 10px 0;overflow: hidden;}
.local_trip_img_s{height: 156px;display: block;position: absolute;top: -1px;left: -1px;}
.local_trip_mask_s{display: block;position: absolute;bottom: 0;left: 0;width: 100%;height: 40px;opacity: .6;filter:alpha(opacity=60);z-index: 1;background-color: #000;}
.local_trip_txt_s{display: block;position: absolute;z-index: 2;bottom: 0;left: -1px;padding: 2px 6px 1px;line-height: 18px;font-size: 12px;}
.local_trip_price_s{position: absolute;padding: 0 4px;height: 24px;line-height: 24px;z-index: 2;right: 0;top: 9px;text-align: center;background-color: #f08300;}
.local_trip_right:hover .local_trip_txt_s{color: #f08300;}
.lj_hotline {padding: 15px 0;}
.lj_hotline h4 {width: 70px;padding-bottom: 4px;font-size: 16px;color: #333;border-bottom: 2px solid #009acd;text-align: center;}
.lj_hotline ul {padding-top: 10px;}
.lj_hotline li a {color: #848484;font-size: 14px;line-height: 26px;}
.lj_hotline li a:hover {color: #f08300;}


/* ++++++++++++++++++
 * mustactive start +
 * ++++++++++++++++++
 */
.local_trip_container_l{height: 316px;padding-top: 102px;}
.local_trip_container_para{padding-left: 20px;font-size: 24px;font-weight: bold;line-height: 28px;color: #848484;margin-bottom: 36px;}
.trip_play_li{padding-top: 54px;position: relative;}
.trip_play_title{padding-bottom: 0;height: 100px;width: 170px;padding-right: 50px;position: absolute;z-index: 4;left: 20px; padding-left: 0; top: 105px;}
.trip_play_title span{display: block;float: left;height: 50px;font-weight: bold;color: #848484;}
span.trip_play_title_en{font-size: 12px;font-family: verdana;}
.trip_play_title_ico{display: block;float: left;width: 31px;height: 50px;background-position: 0 -278px;background-repeat: no-repeat;}
.trip_play_title_ls .trip_play_title_ch{padding: 5px 8px 7px 1px;font-size: 30px;height: 38px;line-height: 38px;color: #009acd;}
.trip_play_title_ls .trip_play_title_en{padding-top: 26px;height: 24px;padding-right: 2px;}
.trip_play_title_ls i {position: absolute;top: 20px;left: 153px;width: 27px;height: 50px;background: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png) no-repeat 0 -178px;}
.ie7 .trip_play_title_ls .trip_play_title_ch{padding: 5px 0 7px 1px;font-size: 30px;height: 38px;line-height: 38px;}
.ie7 .trip_play_title_ls .trip_play_title_en{padding-top: 26px;height: 24px;padding-right: 0;}
.trip_play_main{height: 546px;overflow: hidden;}
.trip_play_main .local_trip_area_li{margin-right: 9px;}
.trip_play_main .local_trip_pro{height: 463px;}
.trip_play_main .local_trip_pro_li{height: 475px;}
.trip_play_list{display: block;width: 212px;height: 217px;float: left;margin: 0 10px 10px 0;position: relative;overflow: hidden;background-color: #f0f2f5;}
.trip_play_img{display: block;position: absolute;height: 157px;top: -1px;left: -1px;}
.trip_play_txt{display: block;position: absolute;padding: 7px 8px 5px;width: 197px;line-height: 24px;font-size: 14px;color: #333;bottom: 25px;left: -1px;height: 24px;z-index: 1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.trip_play_list:hover .trip_play_txt{color: #f08300;}
.trip_play_price{position: absolute;z-index: 2;text-align: right;padding-right: 8px;line-height: 20px;bottom: 8px;right: 1px;}
.trip_play_main .local_trip_dollar{font-size: 14px;}
.trip_play_map .local_trip_pos_list{padding: 7px 50px 0 12px;}
.local_trip_pos_li{white-space: nowrap;}
.trip_play_map .local_trip_pos_list{padding: 7px 0 0 12px;width: 192px;}


/* +++++++++++++
 * theme start +
 * +++++++++++++
 */
/* style1 */
.theme_product_wrapper {float: left;padding-bottom: 10px;}
.theme_tag_wrapper {height: 83px;}
.theme_product_list {padding-left: 20px;width: 980px;}
.theme_product_list li {float: left;margin: 0 10px 10px 0;width: 313px;}
li.tpl_wide {width: 636px;}
li.no_mr {margin-right: 0;}
.img_container {display: block;overflow: hidden;height: 235px;width: 313px;}
.tpl_wide .img_container {width: 636px;}
.img_viewer {position: relative;height: 235px;}
.tpl_mask {position: absolute;width: 100%;height: 26px;line-height: 26px;background-color: #000;opacity: 0.5;filter: alpha(opacity=50);left: 0;bottom: 0;z-index: 1;}
.tpl_count {position: absolute;bottom: 3px;right: 10px;color: #fff;font-size: 16px;z-index: 3;padding-left: 30px;}
.tpl_count i {position: absolute;width: 15px;height: 15px;background: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png) no-repeat -27px -130px;left: 8px;top: 4px;}
.tpl_info {position: relative;height: 72px;background-color: #f2f4f7;padding: 7px 10px;}
.tpl_info h3 {font-size: 18px;color: #009acd;font-weight: bold;line-height: 32px;}
.tpl_info p {font-size: 14px;color: #848484;}
.theme_product_list li:hover .tpl_info p {color: #f08300;}
.tpl_info > span {position: absolute;color: #f08300;font-size: 11px;right: 10px;top: 10px;}
/* style2 */
.simple_info {position: absolute;width: 293px;height: 40px;bottom: 0;left: 0;padding: 10px;}
.simple_info .si_title, .dit_title {position: relative;font-size: 14px;color: #fff;z-index: 2;padding: 0;}
.simple_info .si_price, .dit_price {position: absolute;right: 10px;bottom: 5px;}
.detail_info {position: absolute;width: 293px;height: 215px;top: 0;left: 0;padding: 10px;display: none;color: #fff;}
.sdi_mask {position: absolute;width: 100%;height: 100%;background-color: #000;opacity: 0.6;filter: alpha(opacity=60);top: 0;left: 0;z-index: 0;}
.img_viewer:hover .simple_info {display: none;}
.img_viewer:hover .detail_info {display: block;}
.di_top {position: relative;border-bottom: 1px dotted #fff;height: 60px;}
.di_bottom {position: relative;color: #fff;line-height: 30px;font-size: 14px;z-index: 2;padding-top: 10px;}
.di_link {position: absolute;width: 22px;height: 22px;background: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png) no-repeat 0 -239px;right: 15px;bottom: 15px;}


/* +++++++++++++
 * hotel start +
 * +++++++++++++
 */
.hotel_detail {float: left;width: 290px;height: 380px;overflow: hidden;padding: 34px 0 0 20px;}
.hotel_li {padding-top: 50px;position: relative;}
.hotel_left {overflow: hidden;height: 310px;width: 290px;}
.hl_img_wrapper {width: 100%;height: 212px;overflow: hidden;position: relative;}
.hl_content {position: relative;padding: 10px;background-color: #edf0f5;height: 78px;float: left;width: 270px;}
.htl_title {height: 33px;line-height: 16px;padding-bottom: 3px;}
.hotel_li a {display: block;}
.hotel_li:hover .htl_title {color: #f08300;}
.hl_img {float: left;}
.hl_bottom {position: absolute;padding-top: 7px;overflow: hidden;bottom: 17px;left: 0;width: 100%;}
.hl_star {position: relative;float: left;}
.hl_star span {position: absolute;}
.start_bg, .start_fr {top: 9px;left: 10px;width: 70px;height: 13px;background-image: url(//dn-woqu.qbox.me/a414/img/page/index/index-all.png);background-repeat: no-repeat;}
.start_bg {background-position: -89px -93px;background-color: #edf0f5;}
.start_fr {background-position: -89px -110px;}
.all_star {width: 14px;}
.one_star {width: 14px;}
.quasi_one_star {width: 28px;}
.two_star {width: 28px;}
.quasi_two_star {width: 42px;}
.three_star {width: 42px;}
.quasi_three_star {width: 56px;}
.four_star {width: 56px;}
.quasi_four_star {width: 72px;}
.five_star {width: 72px;}
.star_num {width: 45px;left: 90px;top: 5px;}
.htl_price {float: right;margin-right: 10px;}
.hotel_main {float: right;width: 660px;position: relative;height: 410px;overflow: hidden;margin-right: 20px;}
.hotel_pro {width: 683px;height: 357px;overflow: hidden;}
.hotel_pro_li {position: relative;width: 683px;height: 357px;}
.ht_title_mask {position: absolute;bottom: 0;left: 0;width: 100%;height: 30px;background-color: #000;opacity: 0.6;filter: alpha(opacity=60);z-index: 1;}
.hotel_pro_info {display: block;width: 212px;height: 150px;float: left;margin: 0 10px 10px 0;position: relative;overflow: hidden;}
.hotel_pro_right {margin-right: 0;}
.ht_pro_title {position: absolute;bottom: 0;left: 0;width: 100%;text-indent: 10px;height: 30px;line-height: 30px;font-size: 14px;color: #fff;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;z-index: 3;}
.hotel_pro_info:hover .ht_pro_title {color:#f08300;}
.ht_pro_price {position: absolute;top: 10px;right: 0;padding: 0 4px;height: 24px;line-height: 24px;background-color: #f08300;}

/* +++++++++++++++
 * rentcar start +
 * +++++++++++++++
 */
.rentcar_container{float: left;width: 570px;position: relative;}
.rentcar_title{font-size: 16px;color: #333;padding: 4px 0;margin: 85px 10px 16px 24px;border-bottom: 2px solid #009acd;}
.rentcar_container .local_trip_more{top: 90px;right: 10px;}
.rentcar_list{padding: 0 0 7px 24px;}
.rentcar_li{position: relative;padding: 0 10px 10px 0;display: block;float: left;}
.rentcar_a{display: block;position: relative;width: 172px;height: 129px;overflow: hidden;}
.rentcar_img{display: block;width: 172px;height: 129px;}
.rentcar_city{display: block;position: absolute;width: 100%;font-size: 20px;text-align: center;left: 0;top: 37px;line-height: 26px;cursor: pointer;}
.rentcar_txt{display: block;position: absolute;width: 100%;font-size: 14px;text-align: center;left: 0;top: 62px;line-height: 18px;cursor: pointer;}
.pickup_container{float: right;width: 375px;position: relative;margin-right: 10px;}
.pickup_container .local_trip_more{top: 90px;right: 10px;}
.pickup_container .rentcar_title{margin-left: 0;margin-right: 10px;}
.pickup_first_pro{display: block;}
.pickup_first_pro_img{width: 130px;height: 96px;display: block;float: left;margin-right: 10px;}
.pickup_first_pro_title{font-size: 16px;font-weight: bold;color: #333;line-height: 20px;display: block;float: left;}
.pickup_first_pro_title:hover{color:#f08300;}
.pickup_first_pro_txt{font-size: 14px;color: #848484;display: block;float: left;line-height: 20px;width: 166px;margin-top: 5px;}
.pickup_pro_list{margin-top: 20px;}
.pick_pro_a{display: block;font-size: 14px;color: #333;height: 16px;padding-bottom: 12px;}
.pick_pro_a:visited{color: #333;}
.pick_pro_a:hover{color: #f08300;}
.pick_pro_title{float: left;line-height: 16px;height: 16px;overflow: hidden;}
.pick_pro_price{float: right;text-align: right;padding-right: 10px;line-height: 16px;height: 16px;}
.wq_index_brm_part{padding-top: 0;border: 1px solid #f3f3f3;margin-bottom: 30px;}


/* ++++++++++++
 * fqsa start +
 * ++++++++++++
 */
.wq_fqa_part {background-color: transparent;}
.info_section {float: left;width: 320px;height: 316px;margin-right: 20px;background-color: #fff;}
.info_section_last {margin-right: 0;}
.info_section h3 {padding: 18px 0 4px 0;font-size: 18px;color: #333;margin-left: 15px;border-bottom: 2px solid #009acd;display: inline-block;}
.ie7 .info_section h3 {display: inline;zoom: 1;}
.info_list {margin: 0 15px;padding-top: 10px;}
.media_list {margin-right: 5px;}
.info_list li {position: relative;line-height: 27px;}
.info_list li a {display: block;color: #333;font-size: 14px;text-indent: -7px;padding-left: 6px;}
.fqa_hot_list h3 {font-size: 12px;color: #848484;border-radius: 2px;border: 1px solid #aeaeae;position: absolute;width: 70px;height: 40px;right: 0;top: 0;line-height: 13px;padding: 2px 0 0 2px;}
.info_list li a:hover {color: #f08300;}
.media_list p {text-align: right;font-size: 12px;color: #848484;padding: 3px 0 5px 0;}


/* ++++++++++++++++++++++
 * bottom special start +
 * ++++++++++++++++++++++
 */
.index_special_li{display: block;float: left;width: 317px;height: 90px;margin-right: 24px;}
.index_special_last{margin-right: 0;}
.index_special_a{display: block;}


/* ++++++++++++++++++++++
 * bottom new vip start +
 * ++++++++++++++++++++++
 */
.index_bottom_new_vip {position: fixed;width: 100%;height: 100px;bottom: 0;left: 0;background: url(//dn-woqu.qbox.me/a168/img/page/index/index-new-vip.png) repeat-x 0 -58px;z-index: 10001;}
.new_vip_container {position: relative;width: 1000px;margin: 0 auto;}
.new_vip_icon {position: absolute;right: 0;top: -49px;width: 370px;height: 48px;background: url(//dn-woqu.qbox.me/a168/img/page/index/index-new-vip.png) no-repeat;}
.close_new_vip {position: absolute;right: 0;top: 10px;width: 21px;height: 21px;background: url(//dn-woqu.qbox.me/a168/img/page/index/index-new-vip.png) no-repeat 0 -168px;}
.new_vip_title {float: left;font-size: 30px;color: #fff;line-height: 100px;margin-left: 40px;}
.title_large {font-size: 36px;color: #f08300;}
.login_register_link {position: relative;float: left;}
.login_register_link a {position: absolute;background-image: url(//dn-woqu.qbox.me/a168/img/page/index/index-new-vip.png);background-repeat: no-repeat;width: 130px;height: 40px;top: 30px;line-height: 40px;}
a.nothing_link {width: 10px;height: 16px;top: 45px;left: 35px;background-position: -27px -172px;}
a.qq_link {left: 90px;background-position: -77px -160px;}
a.sina_link {left: 230px;background-position: -217px -160px;}
a.not_link {background: none;font-size: 18px;color: #fff;left: 390px;cursor: default;}
a.woqu_link {background: none;font-size: 20px;color: #fff;left: 420px;text-decoration: underline;}
a.woqu_link:hover {color: #f08300;}
