/* +++++++++++++ 
 * reset start +
 * +++++++++++++ 
 */
* 						{margin: 0;padding: 0;}
body 					{min-width: 1000px;background-color: #f0f0f0;font-family: "Microsoft Yahei", Verdana;overflow-y: scroll;}
.ie7 body 				{overflow-y: hidden;}
ul,li 					{list-style: none;}
a 						{text-decoration: none;color: #fff;outline-style: none;}
i 						{font-weight: normal;font-style: normal;}
img 					{border: none;}
table 					{border-spacing: 0;}
h1, h2, h3, 
h4, h5, h6 				{font-weight: normal;font-family: "Microsoft Yahei", Verdana;}
textarea:focus 
,input:focus			{outline: none;}
input[type="text"]
,input[type="password"] {padding: 3px 6px;font-family: "Microsoft Yahei", Verdana;}
button, select 			{font-family: "Microsoft Yahei", Verdana;}

/* ++++++++++++++
 * global start +
 * ++++++++++++++
 */
.container {margin: 0 auto;}
.wq_clearfix:before,.wq_clearfix:after {display: table;content: " ";}
.wq_clearfix:after {clear: both;}
.ie7 .wq_clearfix {zoom: 1;}

.hide {display:none;}
.dis-visibility {visibility: hidden;}
.wq_has_index_content {text-indent: -20px; padding-left: 20px;}
.cover {position: fixed;z-index: 9999;left: 0;top: 0;opacity: 0.6;filter: alpha(opacity=60);background-color: #000;}

/* +++++++++++++++++++++++++
 * base style setter start +
 * +++++++++++++++++++++++++ 
 */
/*font size */
.font_size12 {font-size: 12px;}
.font_size13 {font-size: 13px;}
.font_size14 {font-size: 14px;}
.font_size16 {font-size: 16px;}
.font_size18 {font-size: 18px;}
.font_size20 {font-size: 20px;}
.font_size24 {font-size: 24px;}
.font_size28 {font-size: 28px;}
.font_size30 {font-size: 30px;}
.font_size40 {font-size: 40px;}

/* font color */
.font_color_white  		{color: #fff;}
.font_color_black  		{color: #333;}
.font_color_light_gray 	{color: #aeaeae;}
.font_color_gray   		{color: #848484;}
.font_color_light_green {color: #008000;}
.font_color_green  		{color: #06a6a6;}
.font_color_red 		{color: #da0000;}
.font_color_orange 		{color: #f08300;}
.font_color_select  	{color: #06a6a6;}

/* font weight */
.font_bold {font-weight: bold;}

/* background color */
.bg_color_gray 	{background-color: #f9f9f9;}
.bg_color_white {background-color: #fff;}

/* border color */
.bd_color_gray   {border: 1px solid #cfdfdf;}
.bd_color_green  {border: 1px solid #06a6a6;}
.bd_color_orange {border: 1px solid #f08300;}

/* ++++++++++++++
 * header start +
 * ++++++++++++++
 */
#wq_header {position: relative;z-index: 100;} 
.wq_header_top{position: relative;z-index: 105;width: 100%;background-color: #f0f0f0;border-bottom: 1px solid #ccc;}
.wq_header_top_container{width: 1000px;margin: 0 auto;height: 34px;}
.wq_header_top_right{float: right;font-family: Verdana;max-width: 320px;}
.wq_header_top_right li{position: relative;float: right;height: 34px;line-height: 34px;color: #757575;}
.wq_header_top_right li a{font-size: 13px;color: #757575;}
.wq_header_top_right .wq_header_top_right_li {float:none;height:25px;line-height:25px;overflow: hidden;}

.country_wrapper {position: relative;float: left;width: 350px;}
.country_tips_bg {position: absolute;width: 293px;height: 125px;background: url(//dn-woqu.qbox.me/a1018/img/common/country-tips-bg.png) no-repeat;top: 32px;left: 80px;display: none;}
.country_tips {position: absolute;width: 176px;height: 118px;background: url(//dn-woqu.qbox.me/a1184/img/common/country-tips.gif);z-index: 10;left: 49px;top: 5px;}
.country_tips_bg a {position: absolute;width: 25px;height: 25px;background: url(//dn-woqu.qbox.me/a1018/img/common/country-tips-close.png) no-repeat;top: 4px;right: 24px;z-index: 8;}
.country_tag {position: relative;float: left;width: 86px;height: 34px;line-height: 34px;font-size: 14px;color: #757575;text-align: center;}
.current_country {color: #757575;background-color: #fff;border-bottom: 1px solid #fff;}
.country_tag:hover {color: #099d86;}

.wq_right_divide {font-size: 13px;border: none;line-height: 37px;}
.wq_header_mycount, .phone_num {z-index:10000;}
#headMycount {margin-right: 10px;position: relative;}
li.wq_header_mycount, li.wq_header_currency {padding-right: 23px;text-align: center;float: none;}
.wq_header_mycount > p, .wq_header_currency > p {float: left;margin-left: 10px;font-size: 12px;color: #fff;}
.wq_header_mycount i, .wq_header_currency i {position: absolute;width: 10px;height: 5px;background: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png) no-repeat 0 -258px;top: 15px;right: 8px;}
.wq_header_mycount:hover i, .wq_header_currency:hover i {background-position: -19px -258px;}
.wq_nav_op {padding: 0 12px;}
.wq_header_currency span {float: left;text-align: left;width: 60px;text-indent: 5px;}
.wq_header_currency .symbol {width: 30px;color: #0aaa96;margin-left: 5px;text-align: right;text-indent: 0;}
.wq_header_currency .active_currency span {color: #0aaa96;}
.wq_header_currency p a {width: 77px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;}
.sub_list_wrapper {width: 100px;}

.header_phone_list {width: 250px;float: right;color: #0aaa96;font-size: 12px;font-family: Verdana, "宋体";text-align: center;}
.phone_num {position: relative;height: 34px;line-height: 34px;padding-right: 30px;}
.header_phone_list i {position: absolute;width: 10px;height: 5px;background: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png) no-repeat 0 -242px;top: 15px;right: 8px;}
.header_phone_list:hover i {background-position: -19px -242px;}

.has_sub_list:hover {background-color: #fff;cursor: pointer;}
.has_sub_list:hover .sub_list {display: block;}

.sub_list {display: none;position: absolute;z-index: 10000;left: -1px;top: 34px;background-color: #fff;width: 100%;padding: 6px 0;border: 1px solid #ccc;border-top: none;}
.sub_list li {line-height: 24px;font-size: 12px;color: #848484;overflow: hidden;}
.phone_num .sub_list li:hover {cursor: text;}
.sub_list li a {color: #848484;}
.sub_list li:hover, .sub_list li:hover a {color: #0aaa96;}
.phone_list_country, .phone_list_number {float: left;}
.phone_list_country {width: 105px;text-align: right;}
.phone_list_number {text-indent: 10px;}

.wq_header_bottom_wrapper {position: relative;z-index: 99;background-color: #fff;height: 144px;border-bottom: 2px solid #909090;box-shadow: 0px 1px 3px #909090;}
.wq_header_bottom {position: relative;width: 1000px;height: 100%;margin: 0 auto;}
#wq_logo {position: absolute;float: left;left: 10px;top: 31px;width: 180px;height: 47px;background: url(/images/logo.png) no-repeat;}
.header_search_wrapper {position: absolute;top: 42px;right: 0;width: 420px;height: 36px;background-color: #0aaa96;}
.search_icon {position: absolute;}
.header_input_wrapper {position: relative;top: 2px;left: 2px;text-indent: 8px;border: none;width: 366px;height: 32px;background-color: #fff;}
#hSearchInput {float: left;text-indent: 24px;border: none;width: 354px;height: 26px;line-height: 26px;background: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png) no-repeat -182px -153px #fff;color: #848484;font-size: 14px;font-family: "Microsoft Yahei", "微软雅黑";}
.ie7 #hSearchInput {top: 1px;left: -6px;}
#hSearchCate {position: absolute;top: 0;right: 0;text-align: right;font-size: 14px;color: #333;line-height: 32px;width: 70px;padding-right: 5px;}
#hSearchBtn {position: absolute;width: 50px;height: 36px;line-height: 36px;font-size: 14px;color: #fff;text-align: center;top: 0;right: 0;}
.header_slogan {position: absolute;width: 389px;height: 106px;background: url(//dn-woqu.qbox.me/a528/img/common/header-slogan.png) no-repeat;top: 0px;right: 0px;}
.header_nav {position: absolute;z-index: 103;bottom: 2px;left: 0;width: 100%;height: 38px;line-height: 38px;background-color: #009acd;font-size: 14px;color: #fff;text-align: center;}
#head_navigator {width: 1000px;margin: 0 auto;}
.nav_main, .nav_channel {position: relative;float: left;}
.nav_prepare {position: relative;float: right;font-size: 12px;font-family: Verdana, "宋体";}
.nav_main {background-color: #009aff;width: 210px;}
.header_nav a {display: block;}
.nav_channel > a {padding: 0 14px;}
.nav_channel > a > em {display: inline-block;width: 11px;height: 7px;background: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png) no-repeat -74px -260px;margin-left: 5px;}
.ie7 .nav_channel > a > em {display: inline;zoom: 1;margin-top: -12px;}
.nav_prepare > a {padding: 0 7px;}
.all_product_tag {position: relative;cursor: pointer;}
.all_product_tag > span {position: relative;padding-right: 15px;}
.all_product_tag > span > i {position: absolute;width: 11px;height: 7px;background: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png) no-repeat -74px -260px;top: 7px;right: -1px;}
.ie7 .all_product_tag > span > i {top: 8px;}
.all_product_tag:hover > span > i {background-position: -74px -243px;}
.all_product_tag_active > span > i {background-position: -74px -243px;}
.nav_triangle {position: absolute;width: 10px;height: 5px;z-index: 10;background: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png) no-repeat -38px -242px;bottom: -5px;left: 50%;margin-left: -5px;display: none;}
.nav_channel:hover, .nav_prepare:hover {background-color: #00cdff;}
.nav_channel:hover > a > em {background-position: -74px -243px;}
.header_nav li:hover .nav_triangle {display: block;}
.nav_tips {position: absolute;color: #ff0000;font-size: 10px;top: -10px;right: -10px;}
.current_nav {background-color: #0dbfb0;}

.nav_sub_list {position: absolute;top: 38px;left: 0;width: 113px;background-color: #fff;padding: 10px 0;display: none;z-index: 8;border-bottom: 3px solid #dce0df;}
.nsl_lj {width: 153px;}
.nsl_ms {width: 127px;}
.nav_sub_list a {color: #000;font-size: 14px;text-align: left;text-indent: 20px;line-height: 30px}
.nsl_lj a, .nsl_ms a {text-indent: 31px;}
.nav_sub_list a:hover {color: #f08300;}
.nav_channel:hover .nav_sub_list {display: block;}

.nm_side_bar {position: absolute;top: 38px;left: 0;width: 210px;height: 402px;display: none;}
.ie7 .nm_side_bar {top: 29px;}
.all_product_tag:hover .nm_side_bar {display: block;}
.nmsb_mask {position: absolute;top: 0;left: 0;z-index: -1;width: 100%;height: 100%;background-color: #3d495f;opacity: 0.9;filter: alpha(opacity=90);}
.nm_list {position: relative;z-index: 10;text-align: left;}
.nm_list > li {position: relative;border-bottom: 1px solid #415667;padding: 8px 20px 12px 15px;cursor: pointer;}
li.pt15 {padding-top: 15px!important;}
.nm_area {font-size: 12px;line-height: 30px;height: 30px;width: 175px;float: left;}
.nma_link a {display: inline-block;}
.nma_link a:hover {color: #0abfa7;}
.ie7 .nma_link a {display: inline;zoom: 1;}
.nma_desc {font-size: 12px;line-height: 18px;width: 175px;float: left;color: #b0b3ba;}
.nma_desc a {display: inline-block;margin-right: 5px;color: #b0b3ba;}
.ie7 .nma_desc a {display: inline;zoom: 1;}
.nma_desc a:hover {color: #0abfa7;}
.nm_list .no_bb {border-bottom: none;}
.nm_list i {position: absolute;width: 8px;height: 14px;background: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png) no-repeat -18px -274px;right: 10px;top: 50%;margin-top: -14px;}
.nm_list > li:hover i, .nm_list .hover i {background-position: 0 -274px;}

.nma_info_list {position: absolute;top: 38px;left: 200px;}
.nma_info_box {display: none;position: absolute;width: 660px;height: 401px;top: 0;left: 210px;border-right: 1px solid #c2c2c2;border-bottom: 1px solid #c2c2c2;box-shadow: 0px 1px 2px #dadada;padding: 0 15px 0 35px;text-align: left;cursor: default;}
.nm_list > li:hover .nma_info_box {display: block;}
.nma_info_box_w {width: 710px}
.nma_info_box_s {width: 515px;}
.ib_mask {position: absolute;z-index: -1;top: 0;left: 0;width: 100%;height: 403px;background-color: #fff;}
.ib_left {float: left;width: 480px;padding-top: 10px;}
.ib_left_w {width: auto;}
.ib_right {position: absolute;width: 160px;padding-top: 34px;top: 0;right: 15px;}
.nma_info_box_w .ib_right {right: 35px;}
.ib_right a {overflow: hidden;display: block;margin-bottom: 10px;}
.ib_right img {float: left;}
.ib_inner {padding-bottom: 5px;}
.ib_inner h3 {font-size: 14px;color: #333;line-height: 22px;padding-top: 4px;}
.ib_inner a {color: #848484;font-size: 12px;}
.ib_inner a:hover {color: #f08300;text-decoration: underline;}
.ib_inner .ib_inner_important {color: #4971b6;}
.ib_inner_s {width: 520px;}
.lj_list li {float: left;margin-right: 40px;line-height: 22px;word-wrap: break-word;}
.ie7 .lj_list li {float: none;display: inline;zoom: 1;}
.ma_table {width: 100%;}
.ma_table th a {color: #0abfa7;line-height: 22px;text-align: left;font-size: 12px;}
.ie7 .ma_table th {line-height: 20px;}
.ma_table td {line-height: 22px;width: 110px;}
.ie7 .ma_table td {letter-spacing: -1px;}
.nma_info_box_w .ma_table td {width: 115px;}
.ie7 .ma_table td {line-height: 20px;}


/* ++++++++++++++++++++++
 * header global search +
 * ++++++++++++++++++++++
 */
.autocomplete-suggestions {border: 2px solid #0aaa96;background-color: white;overflow: hidden;z-index: 99999;}
.autocomplete-suggestion {position: relative;padding: 0 5px;cursor: default;font-size: 14px;height: 33px;line-height: 33px;color: #333;overflow: hidden;}
.autocomplete-suggestion:hover {color: #0aaa96;background-color: #f0f0f0;}
.autocomplete-no-suggestion {font-size: 12px;color: #848484;background-color: #fef8e8;height: 27px;line-height: 27px;text-indent: 15px;}
.autocomplete-selected {color: #0aaa96;background-color: #f0f0f0;}
.autocomplete-suggestions strong {font-weight: bold; color: #000;}
.autocomplete-selected strong {color: #0aaa96;}
.autocomplete-group {padding: 2px 5px;}
.autocomplete-group strong {font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000;}
.s-category {position: absolute;top: 0;right: 5px;}
.arrow-tips {overflow: hidden;font-size: 12px;color: #848484;line-height: 33px;height: 33px;}
.at-left {float: left;padding-left: 5px;}
.at-right {float: right;padding-right: 5px;}



/* +++++++++++++++++++
 * bread crumb start +
 * +++++++++++++++++++
 */
.wq_bread_crumb {font-size: 14px;line-height: 14px;color: #848484;padding-top: 15px;}
.wq_bread_crumb a {color: #0aaa96;cursor: text;}
.wq_bread_crumb .wq_bc_able {color: #848484;}
.wq_bread_crumb .wq_bc_able:hover {color: #f08300;cursor: pointer;}


/* ++++++++++++
 * body start +
 * ++++++++++++
 */
.wq_body_wrapper {width: 1000px;padding-bottom: 30px;}
.wq_body_wrapper_login {width: 1000px;min-height: 682px;}


/* ++++++++++++++
 * footer start +
 * ++++++++++++++
 */
.wq_footer_wrapper {width: 100%;font-size: 13px;background-color: #fff;font-family: Verdana, "宋体";}
.wq_footer {width: 1000px;margin: 0 auto;text-align: left;padding-top: 40px;}
.wq_copyright{position: relative;padding-left: 170px;width: 600px;height: 42px;text-align: left;padding-top: 10px;font-size: 12px;line-height: 18px;float: left;}
.wq_copyright i {position: absolute;width: 160px;height: 41px;background: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png) no-repeat 0 -57px;top: 0;left: 0;}
.wq_copyright_span{margin: 0 10px 0 27px;}
.wq_copyright a {color: #c5c5c5;}
.wq_link {padding: 40px 0 20px 0;}
.wq_link li {margin-right: 10px;color: #768989;}
.wq_link a , .wq_footer_wrapper p {color: #d2d4d7;}
.wq_link a:hover {color: #f07c00;}
.wq_footer_top {padding-bottom: 40px;width: 1000px;margin: 0 auto;font-family: "微软雅黑";color: #757575;}
.wq_footer_top dl {position: relative;float: left;width: 159px;height: 42px;padding-left: 51px;color: #757575;}
dl.wq_ft_fee {width: 109px;}
.wq_footer_top dt {position: absolute;width: 41px;height: 41px;top: 4px;left: 0;background-image: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png);background-repeat: no-repeat;}
.wq_footer_top .ftp_t {font-size: 16px;font-weight: 700;line-height: 18px;padding-top: 6px;}
.wq_ft_product dt {background-position: 0 -108px;}
.wq_ft_price dt {background-position: -41px -108px;}
.wq_ft_kefu dt {background-position: -82px -108px;}
.wq_ft_safety dt {background-position: -123px -108px;}
.wq_ft_fee dt {background-position: -164px -108px;}
.wq_partner_wrapper {width: 1000px;margin: 0 auto;padding: 30px 0;border-top: 1px solid #4f5f7c;border-bottom: 1px solid #2f3849;}
.wq_p_link {float: left;margin-right: 7px;height: 38px;line-height: 52px;background-image: url(//dn-woqu.qbox.me/a1184/img/common/bottom-partner-list.png);background-repeat: no-repeat;width: 76px;}
.lv_link {width: 80px;}
.wq_p_link a {display: block;height: 100%;width: 100%;}
.label_link {text-align: left;background-image: none;color: #fff;width: 100%;line-height: 38px;margin-right: 0;font-size: 18px;font-family: "微软雅黑";}
.nta_link {background-position: 0 0;}
.lv_link {background-position: -86px 0;}
.azot_link {background-position: -172px 0;}
.la_link {background-position: -258px 0;}
.gt_link{background-position: -344px 0;}
.tzls_link{background-position: -430px 0;}
.paypal_link {background-position: -516px 0;}
.zfb_link {background-position: -602px 0;}
.cft_link {background-position: -688px 0;}
.hnair_link {background-position: -774px 0;}
.qunar_link {background-position: -860px 0;}
.daodao_link {background-position: -946px 0;margin-right: 0;}
.wq_friendly_link {width: 1000px;margin: 0 auto;padding: 13px 0;border-top: 1px solid #4f5f7c;border-bottom: 1px solid #2f3849;}
.wq_friendly_link a {margin-right: 9px;font-size: 12px;color: #8d96b5;line-height: 24px;white-space: nowrap;}
.wq_friendly_link a:hover {text-decoration: underline;}
.wq_footer_bottom {text-align: center;border-top: 1px solid #4f5f7c;width: 1000px;margin: 0 auto;padding-top: 20px;}
.wq_cert_list {width: 170px;margin: 0 auto;padding: 15px 0 25px;float: left;}
.wq_cert_list li {float: left;}
.wq_cert_list .wq_geocert {display: block;width: 72px;height: 27px;background-image: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png);background-repeat: no-repeat;}
.wq_geocert {background-position: -80px -298px;margin-right: 10px;}
.wq_footer_top_container{width: 100%;background-color: #fff;padding-top: 37px;}
.wq_footer_wrapper_container{width: 100%;background-color: #3d495f;}
.wq_footer_center{width: 1000px;margin: 0 auto;padding-top: 28px;padding-bottom: 27px;border-bottom: 1px solid #2f3849;color: #fff;}
.wq_footer_about{float: left;width: 100px;}
.wq_footer_about_title{font-weight: bold;font-size: 12px;line-height: 14px;margin-bottom: 12px;}
.wq_footer_about_link{margin-bottom: 6px;}
.wq_footer_about_link a{font-size: 12px;}
.wq_footer_about_link a:hover{text-decoration: underline;}
.label_link a:hover {text-decoration: none;}
.wq_footer_about_link_traveladviser{font-size: 12px;}
.wq_footer_about_link_traveladviser a{color: #0aaa96;}
.wq_footer_about_link_traveladviser a:hover {text-decoration: underline;}
.wq_footer_follow {float: left;line-height: 14px;font-size: 12px;font-weight: bold;overflow: hidden;}
.qr_code {display: inline-block;width: 86px;height: 86px;background-image: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png);background-repeat: no-repeat;}
.ie7 .qr_code {display: inline;zoom: 1;}
.wb_code {background-position: 0 -335px;}
.wx_code {background-position: -96px -335px;}
.wq_footer_adviser{float: right;text-align: left;}
p.wq_footer_adviser_title{font-weight: bold;margin-bottom: 26px;}
p.wq_footer_adviser_phone{color: #b0b3ba;margin-bottom: 6px;}
.wq_footer_adviser_phone span{font-family: verdana;font-style: italic;font-size: 18px;color: #fff;}
.ie7 .wq_footer_adviser_phone span{vertical-align: middle;}
.wq_footer_follow ul {padding-top: 14px;color: #d2d4d7;font-weight: normal;}
.wq_footer_follow li {float: left;margin-right: 20px;text-align: center;}
.wq_footer_follow li p {padding-top: 4px;}


/* +++++++++++++++++++
 * bubble list start +
 * +++++++++++++++++++
 */
.wq_bubble_list {position: fixed;right: 1px;bottom: 211px;width: 60px;z-index: 10084;height: 305px;}
.wq_bubble_list > li {position: relative;float: left;width: 60px;height: 60px;background-color: #00a7a7;border-bottom: 1px solid #fff;}
li.wq_kefu_animate {display: none;position: absolute;top: 5px;right: -100px;width: 99px;height: 59px;border: none;background: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png) no-repeat 0 -431px;}
li.wq_to_top {display: none;border-bottom: none;}
.wq_bubble_list > li > a {position: absolute;left: 0;top: 0;display: block;width: 60px;height: 60px;background-image: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png);background-repeat: no-repeat;cursor: pointer;}
#toTop {background-position: -61px -500px;}
#toTop:hover {background-position: 0 -500px;}
#feedBack {background-position: -61px -561px;}
#feedBack:hover {background-position: 0 -561px;}
#searchProduct {background-position: -61px -622px;}
#searchProduct:hover {background-position: 0 -622px;}
li.wq_bubble_no_bb {border-bottom: none;}
#onlineKefu {background-position: -61px -744px;}
#onlineKefu:hover {background-position: 0 -744px;}
#qqKefu {background-position: -61px -683px;}
#qqKefu:hover {background-position: 0 -683px;}


/* +++++++++++++++
 * loading start +
 * +++++++++++++++
 */
.loading_tips_sm {width: 490px;height: 260px;font-size: 14px;color: #00a5a5;position: absolute;display: none;background-color: #fff;text-align: center;}
.loading_tips_sm span {line-height: 32px;height: 32px;display: inline-block;vertical-align: top;margin-left: 10px;}


/* ++++++++++++++++++++++++
 * vip login dialog start +
 * ++++++++++++++++++++++++
 */
.wp_vip_icon-reminder {display: inline-block;width: 12px;height: 12px;background: url(//dn-woqu.qbox.me/a168/img/common/v2-login-error.png) no-repeat;margin-right: 5px;}
.ie7 .wp_vip_icon-reminder{height: 15px;}
.icon-tab-triangle {display: none;position: absolute;z-index: 10;bottom: -12px;right: 50%;margin-left: -4.5px;width: 0;height: 0;border-left: 9px solid transparent;border-right: 9px solid transparent;border-top: 12px solid #f08300;}
.wp_vip_login_dialog {width: 498px;border: 1px solid #cfdfdf;}
.wp_vip_login_dialog_register {display: none;}
.wp_vip_login_dialog_header {width: 100%;border-bottom: 1px solid #cfdfdf;padding: 10px 0;background: #ecf8f4;}
.wp_vip_login_dialog_header .icon-close-large-blue {float: right;margin: 0 7px 0 0;cursor: pointer;}
.wp_vip_login_dialog_head_text {border-left: 4px solid #06a6a6;padding-left: 13px;font-size: 16px;color: #06a6a6;display: inline-block;margin-left: -1px;}
.wp_vip_login_dialog_sec {padding: 20px 40px;}
.wp_vip_login_dialog_sec_head {font-size: 0;padding-bottom: 40px;cursor: pointer;}
.ie7 .wp_vip_login_dialog_sec_head {height:28px;}
.wp_vip_login_dialog_sec_head .on {background: #f08300;color: white;border: 1px solid #f08300;position: relative;}
.wp_vip_login_dialog_sec_head .on .icon-tab-triangle {display: inline-block;}
.ie7 .wp_vip_login_dialog_sec_head .on {top:4px;}
.ie7 .wp_vip_login_dialog_sec_head .on .icon-tab-triangle {display: inline;zoom:1;}
.wp_vip_login_dialog_sec_tab {width: 49.5%;text-align: center;padding: 10px 0;display: inline-block;font-size: 14px;color: #333333;background: #f9fbfb;border: 1px solid #cfdfdf;}
.wp_vip_login_dialog_sec_tab:hover {background: #f08300;color: white;border: 1px solid #f08300;position: relative;}
.ie7 .wp_vip_login_dialog_sec_tab:hover {top:4px;}
.wp_vip_login_dialog_sec_tab:hover .icon-tab-triangle {display: inline-block;}
.ie7 .wp_vip_login_dialog_sec_tab {display: inline;zoom:1;}
.form_control dl {padding-bottom: 10px;}
.ie7 .form_control dl.err{margin-top: -10px;}
.form_control dl.err .wp_vip_login_dialog_form_header{height: 20px;}
.form_control dl:hover {padding-bottom: 10px;}
.form_control {margin-bottom: 50px;}
.form_control .wp_vip_login_dialog_form_header, .form_control .wp_vip_login_dialog_form_body {display: inline-block;}
.ie7 .form_control .wp_vip_login_dialog_form_header, .ie7 .form_control .wp_vip_login_dialog_form_body {display: inline;zoom:1;}
.form_control .wp_vip_login_dialog_form_header {width: 90px;text-align: right;vertical-align: text-top;color: #4c4c4c;font-size: 14px;}
.ie7 .form_control .wp_vip_login_dialog_form_header{vertical-align:middle;height:38px;}
.form_control .wp_vip_login_dialog_form_body {width: 70%;}
.form_control .wp_vip_login_dialog_input {padding: 10px 8px;width: 100%;border: 1px solid #cfdfdf;}
.form_control .wp_vip_login_dialog_input_err {border-color: #f08300;background-color: #fdf1ec;outline: none;}
.form_control .wp_vip_login_dialog_form_err {color: red;font-size: 12px;}
.form_control .wp_vip_login_dialog_input_short {width: 35%;}
.form_control .wp_vip_login_dialog_vercode {display: inline-block;margin: 0 10px;width: 35%;height: 36px;vertical-align: bottom;border: 1px solid #cfdfdf;}
.form_control .wp_vip_login_dialog_vercode_change {color: #f08300;font-size: 14px;}
.form_control .wp_vip_login_dialog_checkbox {text-align: center;padding: 11px 0 30px 0;}
.form_control .wp_vip_login_dialog_checkbox .comp_checkbox i {top: 4px;}
.ie7 .form_control .wp_vip_login_dialog_checkbox .comp_checkbox i {top: 14px;}
.form_control .wp_vip_login_dialog_checkbox .comp_active_checkbox i {top: -2px;}
.ie7 .form_control .wp_vip_login_dialog_checkbox .comp_active_checkbox i {top: 8px;}
.form_control .wp_vip_login_dialog_checkbox .wq_remenber_login {font-size: 14px;color: #333333;vertical-align: super;}
.form_control .wp_vip_login_dialog_btns {text-align: center;}
.form_control .wp_vip_login_dialog_login_btn {cursor: pointer;margin-right: 10px;display: inline-block;width: 100px;color: white;font-size: 18px;padding: 6px 0;background-color: #f08300;border:none;outline:none;}
.ie7 .form_control .wp_vip_login_dialog_login_btn {display: inline;zoom:1;}
.form_control .wp_vip_login_dialog_find_psd_btn {color: #f08300;font-size: 14px;}
.ie7 .form_control .wp_vip_login_dialog_find_psd_btn {display:inline;zoom:1;height:30px;line-height:20px;}
.form_control a:hover {text-decoration: underline;}
.wp_vip_login_dialog_sec_footer {text-align: center;}
.wp_vip_login_dialog_sec_footer ul {display: inline-block;}
.ie7 .wp_vip_login_dialog_sec_footer ul {display: inline;zoom:1;}
.wp_vip_login_dialog_text, .wq_vip_login_dialog_quick_login_link {color: #8e8e8e;font-size: 14px;vertical-align: top;}
.wq_vip_login_dialog_quick_login { display: inline-block;margin-right: 7px;}
.ie7 .wq_vip_login_dialog_quick_login {display: inline;zoom:1;}
.wq_vip_login_dialog_quick_login:last-child {margin-right: 0;}
.wq_vip_login_dialog_quick_login i {margin-right: 3px;}
.wq_place_holder {width: 300px !important;}
.wp_vip_result_text_wrapper {padding: 40px 0;text-align: center;background: #fff;}
.wp_vip_result_text_wrapper .wp_vip_dialog_text {font-size: 18px;color: #4c4c4c;margin-bottom: 40px;}
.wp_vip_result_text_wrapper .wp_vip_result_btn {border: 1px solid #dddddd;background: #f5f5f5;color: #f08300;font-size: 13px;line-height: 13px;width: 118px;cursor: pointer;padding: 10px 0;}
.wq_close_icon {position: absolute;top: 0;right: 1px;width: 17px;height: 17px;background-image: url(//dn-woqu.qbox.me/a168/img/common/d-close.png);cursor: pointer;}

/* +++++++++++++++++++++++
 * feedback dialog start +
 * +++++++++++++++++++++++
 */
.wq_feedback_dialog {position: fixed;top: 50%;left: 50%;margin-top: -170px;margin-left: -285px;width: 570px;min-height: 290px;background: #fff;padding: 20px;z-index: 10001;display: none;}
.wq_feedback_title {font-size: 18px;color: #062e2e;line-height: 18px;vertical-align: middle;padding-bottom: 10px;}
.wq_feedback_content {float: left;width: 548px;height: 180px;border: 1px solid #dce5e6;resize: none;padding: 10px;font-size: 14px;overflow: auto;font-family: Verdana;}
input.wq_your_email {float: left;width: 548px;height: 14px;line-height: 14px;font-size: 14px;border: 1px solid #dce5e6;padding: 8px 10px;margin-top: 8px;}
.wq_feedback_btn {padding: 20px 0 0 176px;}
.wq_feedback_btn a {float: left;width: 120px;height: 32px;background-color: #f08300;color: #fff;font-size: 16px;line-height: 32px;text-align: center;}
a.wq_fb_cancel {margin-right: 20px;background-color: #0aaa96;}
.wq_alert_div {position: absolute;z-index:9999;left:0;top:0;display:none;width: 232px;background-color: #004248;padding: 20px;}
.wq_alert_content {padding-left: 44px;font-size: 14px;color: #b0bcbd;line-height: 20px;}


/* ++++++++++++++++++++++++
 * old browser tips start +
 * ++++++++++++++++++++++++
 */
.browsehappy {position: fixed;width: 100%;height: 60px;line-height: 60px;text-align: center;top: 0;left: 0;background-color: #ff6600;z-index: 100000;font-size: 14px;color: #fff;}
.browsehappy > a {color: #ff9;border-bottom: 1px dotted #ff9;}


/* ++++++++++++++++++
 * icon style start +
 * ++++++++++++++++++
 */
/* web-book-login.jsp */
.icon-link-list {display: inline-block;background: url(//dn-woqu.qbox.me/a168/img/common/link-list.png) no-repeat;}
.icon-qq-login{width: 18px;height: 20px;background-position: -982px 0}
.icon-sina-login{width: 23px;height: 19px;background-position: -949px 0}
.icon-close-large{width: 24px;height: 24px;background-position: -577px -357px;}
/* detail-*.jsp */
.icon-detail-all {display: inline-block;background: url(//dn-woqu.qbox.me/a168/img/common/woqu-detail-all.png) no-repeat;}
.icon-triangle-fram{width: 18px;height: 11px;background-position: -331px -87px;}
.icon-video{width: 24px;height: 24px;background-position: -577px -111px;}
.icon-board{width: 24px;height: 24px;background-position: -577px -617px;}
/* detail-localjoin.jsp */
.icon-tt-all {display: inline-block;background: url(//dn-woqu.qbox.me/img/page/tt-icons-all.png) no-repeat;}
.ie7 .icon-tt-all {zoom: 1;display: inline;}
.icon-map{width: 16px;height: 19px;background-position: 0 -164px;}
.icon-loading{display: inline-block;width: 31px;height: 31px;background: url(//dn-woqu.qbox.me/a168/img/common/loading.gif) no-repeat;}
.ie7 .icon-loading{zoom: 1;display: inline;}
/* detail-nstd.jsp */
.icon-global{width: 24px;height: 24px;background-position: -577px -573px;}
/* hotel-detail.jsp */
.icon-sys-busy{width: 64px;height: 63px;background-position: -217px -900px;}
.icon-not-founed{width: 80px;height: 65px;background-position: -123px -901px}
/* visa-zhongxin.jsp */
.icon-passport-all {display: inline-block;background: url(//dn-woqu.qbox.me/a168/img/page/visa/passport-icon.png) no-repeat;}
.icon-passport-photo{width: 29px;height: 20px;background-position: 0 -431px;}
.icon-passport{width: 29px;height: 25px;background-position: 0 -472px;}
.icon-info-form{width: 29px;height: 26px;background-position: 0 -296px;}
.icon-card{width: 29px;height: 22px;background-position: 0 0;}
.icon-invitation{width: 29px;height: 24px;background-position: 0px -163px;}
.icon-confirm{width: 23px;height: 26px;background-position: 0px -208px}
/* destination-detail.jsp && play-detail.jsp */
.icon-hot{display: inline-block;width: 40px;height: 15px;text-align: center;padding: 3px 0;color: #fff;font-size: 12px;font-style: normal;border-radius: 3px;background-color: #f08300;}
.icon-frame-small, .icon-frame-small-down{display: inline-block;width: 13px;height: 13px;border: 1px solid #cddede;background-color: #fff;font-size: 12px;color: #6fcdcd;font-style: normal;text-align: center;}
.icon-frame-small-down{-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.icon-sqaure-small{width: 5px;height: 5px;display: inline-block;background-color: #00a5a5}

.wp_book_email_input_err {border-color: #f08300!important;background-color: #fdf1ec!important;outline: none!important;color: rgb(51, 51, 51)!important;}


/* ++++++++++++++++++++
 * hai hang vip start +
 * ++++++++++++++++++++
 */
.hh_select {float: left;}
.hh_text {float: left;line-height: 13px;font-size: 13px;color: #333;}
.hh_info_btn {color: #00a7a7;text-decoration: underline;}
.hh_hide {position: relative;display: none;padding-top: 10px;}
.hh_input {border: 1px solid #cfdfdf;margin-right: 20px;}
.hh_input_wrapper, .hh_error_tips {position: relative;float: left;}
.hh_error_tips {display: none;color: #da0000;}


/* ++++++++++++++++++
 * poi dialog start +
 * ++++++++++++++++++
 */
.wq_tour_poi_wrapper{position: fixed;left: 600px;top: 200px;z-index: 10001;}
.wq_tour_line_wrapper {left: 35%;width: 400px;color: #848484;font-size: 14px;}
.wq_tour_item {width: 100%;background-color: #fff;padding-bottom: 20px;display: none;}
.wq_item_active {display: block;}
.wq_tt_hd {position: relative;}
.wq_tour_img {float: left;width:400px;height:240px;border:0;}
.wq_tt_title {display: block;position: absolute;left: 0;bottom: 0;width: 100%;height: 40px;line-height: 40px;text-align: center;background-color: #000;color: #fff;opacity: 0.7;filter: alpha(opacity=70);}
.wq_tt_bd {padding: 0 15px 0 20px;}
.wq_tt_bd table {width: 100%;}
.wq_tt_bd td {line-height: 18px;}
.wq_tt_tb_label {width: 72px;text-align: right;}
.wq_tt_tb_label2 {width: 57px;}
.wq_mt5 {margin-top: 5px;}
.wq_ttul_title {padding: 10px 0;}
.wq_dialog_close_bt {display: block;width: 70px;height: 30px;line-height: 30px;color: #fff;text-align: center;background-color: #f08300;margin: 27px auto 0 auto;}
.wq_slide_btn {display: block;position: absolute;width: 33px;height: 60px;background-color: #000;opacity: 0.3;filter: alpha(opacity=30);}
.wq_slide_btn:hover {opacity: 0.7;filter: alpha(opacity=70);}
.wq_slide_btn i {position: absolute;width: 20px;height: 30px;top: 15px;left: 6px;}
.wq_prev_btn {top: 240px;left: -33px;}
.wq_prev_btn i {background: url(//dn-woqu.qbox.me/a168/img/common/d-prev.png) no-repeat;}
.wq_next_btn {top: 240px;right: -33px;}
.wq_next_btn i {background: url(//dn-woqu.qbox.me/a168/img/common/d-next.png) no-repeat;}



.wq_common_radio{display:none;}
.wq_common_radio_label{background:url('//dn-woqu.qbox.me/a168/img/common/d-unselect.png') 0 1px no-repeat;padding:0px 10px 2px 20px;}
.wq_common_radio_label_on{background:url('//dn-woqu.qbox.me/a168/img/common/d-select.png') 0 1px no-repeat;}


/* ++++++++++++++++++++++++++
 * order & pay header start +
 * ++++++++++++++++++++++++++
 */
.order_pay_header {position: relative;z-index: 8;border-bottom: 2px solid #d9d9d9;background-color: #fff;}
.order_pay_step {position: relative;float: right;height: 40px;width: 425px;overflow: hidden;padding-top: 40px;}
.not_foreign_exchange {width: 300px;}
.order_pay_step p {float: left;position: relative;}
.order_pay_step i {position: absolute;left: 0;bottom: 0;width: 427px;height: 14px;background-image: url(//dn-woqu.qbox.me/a168/img/page/pay/pay-all.png);background-repeat: no-repeat;background-position: 0 -185px;}
.pay_step i {background-position: 0 -204px;}
.complete_step i {background-position: 0 -242px;}


/* ++++++++++++++++++++
 * recommend category +
 * ++++++++++++++++++++
 */
.recommend_wrapper_bottom {width: 1000px;margin: 0 auto;padding-bottom: 20px;}
.recommend_wrapper_bottom h2 {font-size: 20px;color: #0aaa96;border-bottom: 1px solid #e5e5e5;padding-bottom: 10px;}
.recommend_list_bottom {overflow: hidden;padding-top: 20px;}
.recommend_list_bottom li {float: left;margin-right: 24px;width: 232px;}
.recommend_list_bottom li.last {margin-right: 0;} 
.recommend_list_bottom li a {display: block;position: relative;}
.rlb_img {display: block;}
.rbl_info {position: absolute;bottom: 12px;left: 0;width: 100%;height: 47px;line-height: 47px;}
.rlb_mask {position: absolute;width: 100%;height: 100%;background-color: #fff;opacity: 0.85;filter: alpha(opacity=85);top: 0;left: 0;z-index: 0;}
.rlb_cate, .rlb_city {position: relative;z-index: 2;}
.rlb_cate {font-size: 18px;color: #0aaa96;font-weight: bold;margin-left: 10px;}
.rlb_city {font-size: 16px;color: #848484;top: 1px;}
.rlb_count {position: absolute;font-size: 13px;color: #848484;right: 10px;top: 3px;z-index: 2;}


/* +++++++++++++++++++
 * recommend product +
 * +++++++++++++++++++
 */
.rlb_link {position: relative;border: 1px solid #d7e4e4;padding: 0 10px;height: 75px;background-color: #fff;}
.rbl_title {color: #848484;font-size: 14px;display: block;line-height: 20px;padding-top: 5px;}
.recommend_list_bottom li:hover .rbl_title {color: #f08300;}
.rbl_price {color: #f08300;}
.link_icon {position: absolute;right: 10px;bottom: 10px;width: 22px;height: 22px;background: url(//dn-woqu.qbox.me/a1184/img/common/woqu-common.png) no-repeat 0 -301px;}
